@import "tailwindcss";

:root {
  font-family: 'Fredoka', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0a0a0a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

/* 3D Carousel Styles */
.perspective-1000 {
  perspective: 1000px;
}

.carousel-container {
  position: relative;
  width: 150px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate 20s linear infinite;
}

.carousel-item {
  position: absolute;
  inset: 0;
  transform: rotateY(calc(var(--i) * (360deg / var(--total)))) translateZ(250px);
  backface-visibility: hidden; /* Optional: hide back face */
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.glow-text {
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

